<!DOCTYPE HTML>
<html>
	<head>
		<title>MockitMan</title>
		<link href='../resources/popup.css' media='screen' rel='stylesheet' />
	</head>
	<body>
		<div class="content">
			<div id="guid">
				<span>GUID: </span>
				<br>
				<span id="guidValue"></span>
			</div>
			<br>
			<div id="num">
				<span>Number: </span>
				<br>
				<span id="numValue"></span>
			</div>
			<br>
			<div id="name">
				<span>Name: </span>
				<br>
				<span id="nameValue"></span>
			</div>		
			<br>
			<div id="addr">
				<span>Address: </span>
				<br>
				<span id="addrValue"></span>
			</div>		
			<br>	
			<div id="zip">
				<span>ZIP: </span>
				<br>
				<span id="zipValue"></span>
			</div>	
			<br>		
			<div id="amt">
				<span>Amount: </span>
				<br>
				<span id="amtValue"></span>
			</div>
			<input id="btnOut" type="button" class="left" value="Out!"/>	
			<input id="btnGenerate" type="button" class="right" value="New!"/>							
		</div>	
		<script type="text/javascript" src="../lib/names.json"></script>
		<script type="text/javascript" src="../lib/randoms.js"></script>
		<script type="text/javascript" src="popup.js"></script>
	</body>
</html>